#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.react-confirm-alert-body>h1{
  font-size: 2em;
  text-align: center;
}

.react-confirm-alert-button-group{
  justify-content: end !important;
}